* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 2%;
    padding-top: 10%;
    z-index: -1;
}

header {
    position: relative;
    display: flex;
    top: 80px;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}

h1 {
    padding: 4% 3vh;
    margin-left: 1%;
    border: 2px solid;
    text-align: center;
    background-color: lightgray;
}

header img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 4%;
    background-color: lightgray;
}

header #rect {
    margin-top: 4%;
    width: 300px;
    height: 100px;
    background-color: lightgray;
    margin-left: 20%;
}

#screenshot {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 75%;
    margin-left: 10%;
}

#screenshot .row .column img {
    width: 60%;
    height: auto;
    margin: 2%;
    border: 2px solid;
}

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#sticky {
    position: sticky;
    top: 10px;
    width: 20%;
    margin-right: 5%;
}

#filter {
    width: 100%;
}

#calendar {
    width: 355px;
}

#filterBTN {
    margin-top: 25%;
    margin-bottom: 25%;
    padding: 12% 0 12% 25%;
    border: 2px solid;
}

#filterBTN:hover {
    background-color: lightgray;
    cursor: pointer;
}

#expansion {
    display: none;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 10px 50px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 12%;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 275px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
    background-color: #f1f1f1;
}

/* Show dropdown content on hover */
.temperature:hover .dropdown-content,
.location:hover .dropdown-content,
.weather:hover .dropdown-content {
    display: block;
}

.temperature:hover .dropbtn,
.location:hover .dropbtn,
.weather:hover .dropbtn {
    background-color: darkgray;
}

.location {
    margin-bottom: 12%;
}

.weather {
    margin-top: 12%;
}