* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-bottom: 0.0625rem solid lightgray;
}

h1 {
    flex: 1;
    text-align: center;
}

header img {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0 0.625rem;
}

main {
    display: flex;
    height: calc(100vh - 7vh);
    /* Headerhöhe abziehen */
}

aside#sidebar {
    width: 30%;
    padding: 1.5%;
    background-color: #f1f1f1;
    border-right: 1px solid lightgray;
    overflow-y: auto;
    /* Scrollbalken bei Bedarf anzeigen */
    max-height: calc(100vh - 7vh);
    /* Maximale Höhe der Sidebar berechnen */
}

#calendar-container {
    margin-bottom: 2%;
    /* Kleinerer Abstand unter dem Kalender */
}

.fc {
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    /* Kalenderbreite anpassen */
}

#time-input {
    margin-bottom: 10%;
    /* Abstand unterhalb des Kalenders */
    padding: 3%;
    background-color: #fff;
    border: 1px solid lightgray;
}

#time-input label {
    margin-right: 25%;
}

#time-input input[type="time"] {
    padding: 2%;
    font-size: 1rem;
    border: 1px solid lightgray;
    border-radius: 3%;
}

#filterBTN {
    padding: 5%;
    border: 2px solid;
    text-align: center;
    margin-bottom: 3%;
    background-color: lightgray;
}

#expansion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    /* Zentrierung der Knöpfe horizontal */
    margin-top: 10%;
    padding: 0 1%;
    /* Horizontaler Abstand für die Knöpfe */
}

.dropbtn-location {
    white-space: nowrap;
    width: calc(100% - 0px);
    padding: 10px 50px;
    margin-bottom: 25%;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dropbtn-temperature {
    white-space: nowrap;
    width: calc(100% - 0px);
    padding: 10px 40px;
    margin-bottom: 25%;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dropbtn-weather {
    white-space: nowrap;
    width: calc(100% - 0px);
    padding: 10px 20px;
    margin-bottom: 5%;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dropdown-content_location,
.dropdown-content_temperature,
.dropdown-content_weather {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 22%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 15%;
    /* Positioniere den Dropdown-Inhalt rechts von der Sidebar */
    top: 45%;
    cursor: pointer;
    z-index: 1;
}

.dropdown-content_location p,
.dropdown-content_temperature p,
.dropdown-content_weather p {
    color: black;
    padding: 7% 5%;
    text-decoration: none;
    display: block;
}

.dropdown-content_location p:hover,
.dropdown-content_temperature p:hover,
.dropdown-content_weather p:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

#reset-filters {
    width: calc(100% - 2%);
    padding: 5%;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 3%;
    background-color: lightcoral;
    cursor: pointer;
    margin-top: 15%;
}

#reset-filters:hover {
    background-color: lightgray;
    background-color: darkred;
    font-weight: bold;
    color: #cdcdcd;
}

section#content {
    flex: 1;
    padding: 1.5%;
    background-color: white;
    overflow-y: auto;
    /* Scrollen innerhalb des Inhaltsbereichs ermöglichen */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.controls .arrow {
    background: none;
    border: none;
    font-size: 1.5625rem;
    cursor: pointer;
}

#screenshot {
    display: flex;
    justify-content: space-between;
    margin: 1%;
}

.screenshot-display {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 47.5%;
    padding: 1rem;
    border: 1px solid lightgray;
    background-color: #f9f9f9;
}

.heart-symbol-container {
    position: absolute;
    bottom: -8%;
    /* Position unterhalb des Bildes anpassen */
    left: 95%;
    /* Zentrierung horizontal */
    transform: translateX(-50%);
    /* Horizontal zentrieren */
}

.heart-symbol {
    font-size: 1.5em;
    /* Größe des Herzsymbols anpassen */
    color: black;
    /* Farbe des Herzsymbols anpassen */
    cursor: pointer;
}

.heart-symbol.empty:before {
    content: '♡';
}

.heart-symbol.filled:before {
    content: '♥';
}


.info p {
    padding-top: 35%;
    border-bottom: 2px solid #555;
}

.screenshot-display .info {
    width: 50%;
    padding-right: 3%;
    text-align: left;
}

.screenshot-display img {
    width: 67%;
    height: auto;
    border: 1px solid lightgray;
}

.arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 36px;
    /* Größere Pfeile */
    cursor: pointer;
    color: #555;
    /* Farbe der Pfeile */
}

.arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 36px;
    /* Größere Pfeile */
    cursor: pointer;
    color: #555;
    /* Farbe der Pfeile */
}

.arrow-left {
    left: -5.5%;
    /* Mehr Abstand nach links */
}

.arrow-right {
    right: -5.5%;
    /* Mehr Abstand nach rechts */
}